.footer-container {
    color: #FFFFFF;
    width: 100vw;
    background: linear-gradient(90deg, #24005f 0%, #1a043d 100%);
}

.footer-content {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-img-container {
    width: 20vw;
    height: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-img-container img {
    width: 80%;
}

.footer-columns {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-column {
    padding-top: 20px;
    width: calc((80vw/4) - 5vw);
}

.footer-column h3 {
    font-size: 2vw;
}

.footer-column ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-column li {
    font-size: 1.5vw;
    margin-top: 10px;
}

.footer-column a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 300;
}

.footer-column a:hover {
    color: #FFFFFF;
    font-weight: 500;
}

.footer-container .copyright {
    background-color: #1a043d;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-column .links-list a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-column .social-icon {
    display: flex;
    justify-content: center;
    width: 2.4vw;
}